In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import PolynomialFeatures

from sklearn.metrics import mean_absolute_error, mean_squared_error

In [3]:
data = pd.read_csv('C:/Users/nisar/Desktop/udemy/Simplilearn/Course Material/Machine_Learning_ILT_June_2022/My data/Advertising.csv')
data.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
data.columns

Index(['TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [5]:
data.shape

(200, 4)

In [6]:
features = data[['TV', 'newspaper', 'radio']]
target = data[['sales']].values

Convert Features to Polynomial features

In [20]:

features_poly = PolynomialFeatures(degree=2)

TV_poly = features_poly.fit_transform(features[['TV']])
newspaper_poly = features_poly.fit_transform(features[['newspaper']])
radio_poly = features_poly.fit_transform(features[['radio']])

In [21]:
poly_features = pd.concat([pd.DataFrame(TV_poly),pd.DataFrame(newspaper_poly), pd.DataFrame(radio_poly)], axis = 1)

In [22]:
poly_features

       0      1         2    0     1        2    0     1        2
0    1.0  230.1  52946.01  1.0  69.2  4788.64  1.0  37.8  1428.84
1    1.0   44.5   1980.25  1.0  45.1  2034.01  1.0  39.3  1544.49
2    1.0   17.2    295.84  1.0  69.3  4802.49  1.0  45.9  2106.81
3    1.0  151.5  22952.25  1.0  58.5  3422.25  1.0  41.3  1705.69
4    1.0  180.8  32688.64  1.0  58.4  3410.56  1.0  10.8   116.64
..   ...    ...       ...  ...   ...      ...  ...   ...      ...
195  1.0   38.2   1459.24  1.0  13.8   190.44  1.0   3.7    13.69
196  1.0   94.2   8873.64  1.0   8.1    65.61  1.0   4.9    24.01
197  1.0  177.0  31329.00  1.0   6.4    40.96  1.0   9.3    86.49
198  1.0  283.6  80428.96  1.0  66.2  4382.44  1.0  42.0  1764.00
199  1.0  232.1  53870.41  1.0   8.7    75.69  1.0   8.6    73.96

[200 rows x 9 columns]

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(poly_features, target, random_state = 6)

In [25]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(150, 9)
(50, 9)
(150, 1)
(50, 1)

In [26]:
X_train

       0      1         2    0     1        2    0     1        2
53   1.0  182.6  33342.76  1.0  58.7  3445.69  1.0  46.2  2134.44
102  1.0  280.2  78512.04  1.0  21.4   457.96  1.0  10.1   102.01
169  1.0  284.3  80826.49  1.0   6.4    40.96  1.0  10.6   112.36
35   1.0  290.7  84506.49  1.0   8.5    72.25  1.0   4.1    16.81
96   1.0  197.6  39045.76  1.0   5.9    34.81  1.0   3.5    12.25
..   ...    ...       ...  ...   ...      ...  ...   ...      ...
198  1.0  283.6  80428.96  1.0  66.2  4382.44  1.0  42.0  1764.00
79   1.0  116.0  13456.00  1.0  23.1   533.61  1.0   7.7    59.29
109  1.0  255.4  65229.16  1.0   5.5    30.25  1.0  26.9   723.61
106  1.0   25.0    625.00  1.0  29.7   882.09  1.0  11.0   121.00
138  1.0   43.0   1849.00  1.0  20.5   420.25  1.0  25.9   670.81

[150 rows x 9 columns]

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
my_model = LinearRegression()
my_model.fit(X_train, y_train)

LinearRegression()

#### Prediction and Evaluation on Train Data

In [29]:
preds_train = my_model.predict(X_train)
print('MAE : ', mean_absolute_error(y_train, preds_train))
print('MSE : ', mean_squared_error(y_train, preds_train))
print('R2 Score : ', my_model.score(X_train, y_train))

MAE :  1.2028934896197587
MSE :  2.488776665854577
R2 Score :  0.9139135358655948

#### Prediction and Evaluation on Test Data

In [27]:
preds = my_model.predict(X_test)
print('MAE : ', mean_absolute_error(y_test, preds))
print('MSE : ', mean_squared_error(y_test, preds))
print('R2 score : ', my_model.score(X_test, y_test))

MAE :  0.9912741510674818
MSE :  1.5270219257565474
R2 score :  0.9293009924314467